@import '../public/mixins/table';

.activityMain {
  .content {
    // border: 1px solid salmon;
    background-color: $darkgrey;
    border-radius: 1rem;




    div.ac_list {

      h5 {
        margin-bottom: 10px;
        color: white;
      }

      div.section {
        border-top: 1px solid $mainColor;
        padding: 8px 0;
        line-height: 1.4rem;
        letter-spacing: .04rem;
        @include table();

        p {
          color: $grey;
          line-height: 1.2rem;
        }
      }

      table {
        color: $darkgrey;
        margin: 10px 0;
      }
    }
  }
}


@media(min-width:576px) {
  .activityMain {
    margin-top: 50px;

    .content {
      padding: 20px;
      border-radius: 1rem;


      div.ac_list {
        color: aliceblue;
        margin-bottom: 20px;
      }
    }
  }
}

@media(max-width:575px) {
  .activityMain {
    margin-top: 20px;

    h1 {
      margin-bottom: 20px;
    }

    .content {
      padding: 8px;

      div.ac_list {
        margin-bottom: 10px;

      }
    }
  }
}