@import '../public/mixins/table';

.allPoint {
  .memberName {
    display: flex;

    p {
      line-height: 1.5rem;

      &.name {

        color: black;

        i {
          font-size: 1.3rem;
        }
      }
    }
  }

  .allPointTable {
    // border: 1px solid blue;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    @include table();

  }
}

@media (min-width: 768px) {
  .allPointTable {
    table {
      th {
        vertical-align: middle;
      }

      text-align: center;
      margin-bottom: 20px;
    }

    td div {
      // border: 1px solid black;
      margin-top: 8px;

      &:first-child {
        margin: 0;
      }
    }
  }
}

@media (max-width: 767px) {
  .allPointTable {
    tr.hasData {
      td::before {
        width: 9rem !important;
      }
    }

    td div {
      margin-left: 9rem;
      margin-top: 0.5rem;

      &:first-child {
        display: inline-block;
        margin: 0;
        padding: 0;
      }
    }
  }
}