div.banner {

  // border: 1px solid rgb(219, 60, 60);
  .slick-slider {
    margin: 0 auto;
    // border: 1px solid snow;

    button.slick-prev,
    button.slick-next {
      width: auto;
      height: 30px;
      border-radius: none;

      &::before {
        font-size: 20px;
        padding: 5px;
      }
    }

    button.slick-prev {
      left: 1%;
      z-index: 1;
    }

    button.slick-next {

      right: 1%;
    }

    .slick-dots {
      bottom: -35px;
    }

    .slick-dots li.slick-active button:before {
      font-size: 15px;
      color: $darkgrey;
    }

    .pic {
      // padding: 0;
      // border: 1px solid rgb(238, 136, 153);

      a {
        outline: none;
        // border: 1px solid pink;
        display: inline-block;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        position: relative;

        // &:hover div.description {
        //   transform: translateY(0%);
        // }

        img {
          width: 100%;
        }

        .description {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          background-color: hsla(0, 0%, 0%, .5);
          // font-size: .8rem;
          color: white;
          transition: transform .5s;


        }
      }


    }

  }

  .noCarousel {
    img {
      width: 100%;
    }
  }

}

@media(min-width:768px) {
  div.banner {
    .pic {
      padding: 0 5.2%;

      a {
        .description {
          display: inline-block;
          transform: translateY(100%);
          padding: 10px;
        }

        &:hover div.description {
          transform: translateY(0%);
        }
      }
    }

    .noCarousel {
      padding: 0 5.2%;
    }
  }
}

@media(max-width:767px) {
  div.banner {
    .pic {
      padding: 0;

      a {
        .description {
          display: block;
          transform: translateY(0%);
          padding: 10px;
        }
      }
    }

    .noCarousel {
      padding: 0;
    }
  }
}

@media(max-width:576px) {
  div.banner {
    .pic {
      padding: 0;

      a {
        .description {
          display: block;
          transform: translateY(0%);
          padding: 5px;
        }
      }
    }

    .noCarousel {
      padding: 0;
    }
  }
}