form {
  // border: 1px solid black;
  // display: inline-block;

  div.row {
    // margin-bottom: 20px;
    // border: 1px solid black;


    label {
      // border: 1px solid black;
      // line-height: 50px;
      padding: 5px 0;

    }

    input[type=password] {
      padding: 5px;
    }
  }
}

@media(min-width:577px) {
  div.row {
    margin-bottom: 20px;
  }
}

@media(max-width:576px) {
  div.row {
    margin-bottom: 10px;

    label {

      margin-bottom: 5px;

    }
  }
}