@import '../public/mixins/table';

.memberExchangeRecord {
  .exchangeRecordTable {
    // border: 1px solid black;
    margin-top: 20px;
    @include table();


  }
}


@media (min-width: 768px) {
  .exchangeRecordTable {
    th {
      &:nth-child(1) {
        min-width: 105px;
        max-width: 115px;
      }

      &:nth-child(2) {
        min-width: 90px;
        max-width: 100px;
      }

      &:nth-child(3) {
        min-width: 150px;
      }

      &:nth-child(4) {
        max-width: 100px;
      }


      &:nth-child(5) {
        min-width: 120px;

      }
    }




    tbody {
      td {
        &:nth-child(1) {
          min-width: 105px;
          max-width: 115px;
        }


        &:nth-child(2) {
          min-width: 90px;
          max-width: 100px;
        }

        &:nth-child(3) {
          min-width: 150px;
        }

        &:nth-child(4) {
          text-align: right;
          max-width: 100px;
        }

        &:nth-child(5) {
          min-width: 120px;
          text-align: right;
        }

        &.noNote {
          text-align: center;
        }

        a {
          text-decoration: underline;
          color: blue;

          &:hover {
            color: rgb(92, 1, 1);
          }
        }
      }
    }
  }
}