header {
  background-color: lightgrey;
  width: 100%;
  padding: 6px 0;
  height: 85px;
  // display: inline-block;

  div.header {
    // border: 1px solid blue;
    margin: 0 auto;
    width: 100%;
    // display: inline-block;


    div.col {
      display: flex;
      padding: 0;
      justify-content: space-between;
      max-height: 70px;
      // position: relative;

      #logo {
        // border: 1px solid red;
        display: inline-block;
        height: 68px;

        a {
          display: inline-block;
          // border: 1px solid black;
          height: 100%;
          width: auto;


          img {
            height: 100%;
            width: auto;
            // border: 1px solid black;

          }
        }


      }

      ul.menu {
        // border: 1px solid red;


        a {
          // display: inline-block;
          // border: 1px solid rgb(77, 216, 84);


          li {
            // background-color: rgb(150, 150, 150);
            color: $darkgrey;
            display: inline-block;


            &:hover {
              border-bottom: 3px solid $darkgrey;
            }


          }
        }

      }

      div.member {
        a {
          // border: 1px solid blue;
          display: inline-block;
          margin: 13px 0 0 15px;

          text-decoration: none;

          // &:first-child {
          //   margin-left: 0px;
          // }

          span {
            border: 2px solid $darkgrey;
            padding: 5px;
            border-radius: 5px;
            display: inline-block;
            line-height: 30px;
            // vertical-align: top;

            i {
              display: inline-block;
              font-size: 28px;
              // line-height: 40px;
              // border: 1px solid rgb(224, 57, 57);
              color: $darkgrey;
              vertical-align: top;

            }

            p {

              margin-left: 5px;
              // border: 1px solid black;
              vertical-align: top;

            }
          }
        }


      }

      button.hamburger {
        outline: none;
        // border: 1px solid black;
        margin-top: 15px;
        height: 40px;
      }

      .hamburger-box {
        width: 30px;

        .hamburger-inner {
          width: 30px;

          &::before {
            width: 30px;

          }

          &::after {
            width: 30px;

          }
        }
      }
    }


  }


}

@media (min-width:1141px) {
  .header {
    width: 95%;

    div.col {
      display: flex;
      padding: 0;
      justify-content: space-between;
      max-height: 70px;

      ul.menu {
        display: inline-block !important;

        a {
          margin: 0 5px;
          line-height: 66px;
          display: inline-block;

          // padding: 15px;

          li {
            display: inline-block;
            padding: 0 15px;
          }
        }
      }

      div.member {
        display: inline-block;

        span {
          p {
            display: inline-block;
          }
        }

      }

      button.hamburger {
        display: none;
      }
    }
  }

}

@media (max-width:1140px) {
  .header {
    width: 100%;

    div.col {
      // background-color: rgb(102, 120, 204);
      display: block;
      height: 100vh;
      position: relative;

      #logo {
        // border: 1px solid red;
        display: inline-block;
        height: 68px;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        a {
          display: inline-block;
          // border: 1px solid black;
          height: 100%;
          width: auto;

          img {
            height: 100%;
            // width: auto;
          }
        }


      }

      ul.menu {
        display: none;

        position: absolute;
        margin-left: -15px;
        top: 80px;
        width: calc(100vw - 17px);
        z-index: 10;
        padding: 0;
        height: calc(100vh - 80px);
        overflow-y: scroll;
        background-color: lightgrey;

        &::-webkit-scrollbar {
          display: none;
        }


        a {
          width: 100%;
          display: block;
          text-align: center;
          padding: 0;
          // margin: -15px;

          li {
            // display: block;
            padding: 15px;
            width: 100%;
            background-color: lightgrey;




          }
        }
      }

      button.hamburger {
        display: inline-block;
        padding: 0 5px;

      }
    }
  }
}

@media (max-width:1140px)and(min-width:721px) {
  header {
    div.header {
      div.member {
        span {
          p {
            display: inline-block;
          }
        }
      }
    }
  }
}

@media (max-width:720px) {
  header {
    div.header {
      div.member {
        span {
          p {
            display: none;
          }
        }
      }
    }
  }
}