@import"../public/main.scss";

.loginMain {
  // border: 1px solid white;
  // display: inline-block;
  margin: auto;
  min-width: 95%;
  text-align: center;
  overflow: hidden;

  .login {
    display: inline-block;
    // border: 1px solid red;
    padding: 0 35px;
    // margin: 0 auto;
    // margin-top: 18vh;

    .wrap {
      background-color: $grey;
      // display: block;
      max-width: 550px;
      margin: 0 auto;
      border-radius: 15px;
      padding: 15px;
      // z-index: 1;
      // border: 1px solid rgb(51, 255, 0);


      .logoWrap {
        // border: 1px solid black;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;

        img {
          width: 50%;
          height: auto;
        }
      }

      .account {
        // border: 1px solid black;
        text-align: center;

        label {
          display: block;
          width: 100%;

          p {
            display: inline-block;
            // border: 1px solid black;
            // text-align: end;
            padding: 0;
          }

          .refresh {
            // border: 1px solid black;
            // display: flex;
            display: inline-block;
            text-align: right;

            // justify-content: space-around;
            // text-align: left;
            margin-top: 10px;

            i {
              margin-left: 10px;
              // border: 1px solid black;
              padding: 5px;
              vertical-align: bottom;

            }
          }
        }

        div.button {
          // border: 1px solid black;
          margin: 10px 0;
        }

        .forgetPassword {
          a {
            color: rgb(165, 2, 2);
          }

        }
      }
    }
  }
}

@media (min-width:577px) {
  .loginMain {
    min-height: calc(100vh - 209px);

    .login {
      margin-top: 18vh;

      .account {

        label {
          margin: 10px 0;

          p {
            text-align: end;
          }

          input {
            margin-left: 10px;
          }

          .refresh {
            // border: 1px solid black;
            display: inline-block;
            margin-top: 10px;

            img {
              // border: 1px solid black;
              vertical-align: bottom;
            }

            i {
              // border: 1px solid black;
              vertical-align: bottom;
              padding: 5px;
            }
          }
        }
      }
    }
  }
}

@media (max-width:576px) {
  .loginMain {
    min-height: calc(100vh - 173px);

    .login {

      // display: inline-block;
      margin-top: 10vh;


      .wrap {
        display: inline-block;

        .account {

          label {
            margin: 5px 0;

            p {
              text-align: start;
            }

            input {
              margin-top: 5px;
            }
          }
        }
      }
    }
  }
}