@import '../public/mixins/table';

.memberSearchPoint {
  .searchPointTable {
    // border: 1px solid black;
    margin-top: 20px;
    @include table();
  }
}

@media (min-width: 768px) {
  .searchPointTable {
    th:nth-child(2) {
      min-width: 250px;
    }

    td:nth-child(2) {
      min-width: 250px;
    }
  }
}