form {


  // border: 1px solid black;
  .type {
    p {
      line-height: 1.2rem;
    }
  }

  .time {
    margin-top: 15px;

    p {
      line-height: 1.2rem;
    }

    label {
      // padding: 0;
      // border: 1px solid rebeccapurple;
      position: relative;

      input {
        width: 150px;
        margin-left: 10px;
      }

      .calendar {
        position: absolute;
        top: 30px;
        left: 0;
        z-index: 2;
      }
    }
  }

  button {
    min-width: 64px;

    i {
      margin-right: 5px;
    }

    // border: 1px solid rgb(197, 24, 24);
  }
}

@media (min-width: 768px) {
  label {
    padding: 0;
  }
}

@media (max-width: 767px) {
  p {
    padding-right: 5px;
  }
}

@media (max-width: 575px) {
  select {
    margin-left: 15px;
  }

  label {
    margin-top: 8px;
  }
}