@import"../public/main.scss";

.signupMain {

  margin: auto;
  min-width: 95%;
  text-align: center;
  overflow: hidden;

  .signup {
    display: inline-block;
    // border: 1px solid red;
    padding: 0 15px;
    max-width: 550px;

    .steps {

      margin: 0 0 20px 0;
      display: flex;
      justify-content: space-between;


      p {
        border-radius: 50%;
        background-color: $darkgrey;
        border: 2px solid black;
        color: $grey;
        padding: 7px 11px;
      }

      span {
        border-bottom: 2px solid $darkgrey;

        height: 20px;

      }

    }

    .wrap {
      background-color: $grey;
      // display: block;
      // border: 1px solid rgb(51, 255, 0);
      margin: 0 auto;
      border-radius: 15px;
      padding: 15px;




      // z-index: 1;
      // border: 1px solid rgb(51, 255, 0);
      h5 {
        text-align: center;
        margin-bottom: 20px;

      }

      .iframe {

        min-height: 365px;

      }


    }

    .note {

      margin-top: 15px;


      p {
        text-align: start;
        letter-spacing: 0.05rem;
        line-height: 1.2rem;
      }
    }
  }
}

@media (min-width:577px) {
  .signupMain {

    min-height: calc(100vh - 200px);

    .signup {
      margin-top: 4vh;

      .steps {

        span {
          width: 35%;

        }
      }



      .iframeWrap {
        // border: 1px solid black;
        min-width: 480px;
        display: inline-block;

        .iframe {

          height: 100%;
          width: 100%;
          min-height: 365px;

        }
      }

    }
  }
}

@media (max-width:576px) {
  .signupMain {
    min-height: calc(100vh - 173px);

    .signup {

      // display: inline-block;
      margin-top: 20px;

      .steps {

        span {
          width: 25%;

        }
      }

      .wrap {
        display: inline-block;

        .iframeWrap {

          .iframe {

            height: 100%;
            width: 100%;


          }
        }
      }
    }
  }
}