@import"../public/main.scss";
@import"../public/mixins/accountForm.scss";

.signupMain {

  margin: auto;
  min-width: 95%;
  text-align: center;
  overflow: hidden;
  // border: 1px solid red;
  min-height: calc(100vh - 209px);

  .signup {
    display: inline-block;
    // border: 1px solid red;
    padding: 0 15px;
    max-width: 700px;
    margin-top: 50px;



    .wrap {
      background-color: $grey;
      // display: block;
      // border: 1px solid rgb(51, 255, 0);
      margin: 0 auto;
      border-radius: 15px;
      padding: 15px;




      // z-index: 1;
      // border: 1px solid rgb(51, 255, 0);
      h5 {
        text-align: center;
        margin-bottom: 20px;

      }

      @include accountForm;

      input[type="radio"] {
        width: 30%;
        cursor: pointer;

        &:focus {
          box-shadow: none;
        }

        &~label {
          cursor: pointer;
        }
      }

    }
  }
}

@media (min-width:577px) {
  .signupMain {


    min-height: calc(100vh - 209px);
  }
}

@media (max-width:576px) {
  .signupMain {


    min-height: calc(100vh - 173px);
  }
}

@include accountFormRWD;