.popOutPage {
  // border: 1px solid wheat;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;

  .popOutWrap {
    border-radius: 10px;
    width: 450px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    min-height: 100px;
    padding: 15px;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: $white;
    z-index: 10;
    text-align: center;

    i {
      position: absolute;
      right: 5px;
      top: 5px;
      font-size: 1.5rem;
      cursor: pointer;
      // color: $darkblue;
      padding: 6px;

      &:hover {
        color: $darkgrey;
      }
    }

    p.popMsg {
      font-size: 1.2rem;
      color: black;
      vertical-align: middle;
      text-align: center;
    }

    div {

      button {
        margin: 5px 20px;

      }

      button.first {
        padding: 8px 20px;
        background-color: $darkgrey;
        color: white;

      }
    }


  }
}

@media (max-width:575px) {
  .popOutPage {
    .popOutWrap {
      width: 80%;
      min-width: 300px;
    }
  }
}