@import'./variables.scss';

* {
  padding: 0;

  [v-cloak] {
    display: none;
  }

}

@media (max-width: 360px) {

  html,
  body {
    font-size: 13px;
  }
}

@media (min-width: 361px) and (max-width: 575px) {

  html,
  body {
    font-size: 14px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {

  html,
  body {
    font-size: 15px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  html,
  body {
    font-size: 16px;
  }
}

@media (min-width: 992px) {

  html,
  body {
    font-size: 16px;
  }
}


//------------------------
body {
  background-color: $body;
}

h1 {
  font-size: 2rem;
  // font-size: 5vmin;
  color: white;
  font-weight: 600;
  margin-bottom: 50px;
  text-align: center;
  // border: 1px solid black;

}

h2 {
  font-size: 1.8rem;
  font-weight: 600;

}



h3 {
  // font-size: 24px;
  font-size: 1.6rem;

  margin: 15px 0;
}

h4 {
  font-size: 1.4rem;
  color: black;
  text-align: left;
  padding: 5px;
}

h5 {
  color: black;
  font-size: 1.2rem;
  margin: 0;
  text-align: start;

}



p {
  color: $darkgrey;
  padding: 5px;
  font-size: 1rem;
}

a {
  text-decoration: none;
  font-size: 1rem;
}



input {
  padding: 5px;
  font-size: 1rem;
  outline: none;
  border-radius: 5px;
  border: none;

  // border: 1px solid black;
  // display: block;
  &:focus {

    box-shadow: 0 0 0 2px $darkgrey;

  }
}

button {
  margin: 10px;
  padding: 10px 0;
  outline: none;
  border-radius: 5px;
  border: none;
  color: black;
  cursor: pointer;

  a {
    color: black;
  }
}

button.first {
  padding: 8px 15px;
  outline: none;
  border-radius: 5px;
  border: none;
  color: black;
  cursor: pointer;

  &:hover {
    background-color: $darkgrey;
    color: white;
  }
}

button.cancel {
  background-color: transparent;
  padding: 5px 10px;
  outline: none;
  border-radius: 5px;
  border: none;
  color: black;
  cursor: pointer;

  &:hover {
    color: red;
  }
}

//--------------------------------------------